.icon-left{
    position: absolute;
    top: 10px;  /* Position 10px away from top*/
    left: 10px;  /* Position 10px away from left*/
}

.icon-right{
    position: absolute;
    bottom: 10px; /* Position 10px away from bottom*/
    right: 10px; /* Position 10px away from right*/
}

.season-display.winter i{ /* finds an element with season-display class name with winter child element that is an icon */
    color: blue;
}

.season-display.summer i{
    color: red;
}

.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* vh is viewport height */
}

.winter{
    background-color: aliceblue;
}

.summer{
    background-color: orange;
}